<section class="container">
<%= link_to 'Home', root_path, class: "light-blue lighten-2 black-text btn" %>

<h1>New Student</h1>

<%= form_with model: @new_student, local: true, url: students_path do |f|%>

<%= render partial: "shared/students", locals: {f: f} %>

<%= f.submit "Create"%>

<%end%>
</section>